body {
   background: rgb(233, 165, 39);
   font: normal 10pt arial;
}

header {
    color: white;
    text-align: center; /*centralizando*/

}

section {
   background: white;  /*cor de fundo*/
   border-radius: 10px; /*Raio da borda*/
   padding: 15px; /*Altura fixa*/
   width: 500px;  /*largura fixa*/
   margin: auto; /*centralizando*/
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);  /*inserindo sombra*/
              /* 5px de desloc.lateral 5px de desloc.vertical 5px de espalhamento */

}

div{
   text-align: left; /*centralizando*/
   padding: 8px; /*Altura fixa*/
}

select#flista{
   width: 150px;;
}

footer {
   color: white;
   text-align: center; /*centralizando*/
   font-style: italic;

}